[workspace]
resolver = "2"
members = [
    "cli",
    "lib",
    "pna",
    "fuzz",
    "xtask",
]

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"
codegen-units = 1
lto = "thin"
