name: rust-bench
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

jobs:
  rust-bench:
    name: Run rust-bench
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install -y libacl1-dev
      - uses: ./.github/actions/setup-rust
        with:
          channel: nightly
      - name: Run rust-bench
        run: |
          cargo bench --locked --all-features

  cli-tests:
    name: Run cli bench
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup-rust
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libacl1-dev bats
      - name: Install bats extensions
        run: |
          chmod +x tests/bats/setup.sh
          ./tests/bats/setup.sh
      - name: Install cli
        run: |
          cargo install --locked --all-features --path cli
      - name: Run CLI tests
        run: |
          bats tests/bats/ tests/bats/bsdtar_compat/ tests/bats/gnutar_compat/
