name: format
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "lib/**"
      - "pna/**"
      - "cli/**"
      - "fuzz/**"
      - "xtask/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/config.toml"
      - "rust-toolchain.toml"
      - ".github/workflows/format.yml"
  push:
    paths:
      - "lib/**"
      - "pna/**"
      - "cli/**"
      - "fuzz/**"
      - "xtask/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/config.toml"
      - "rust-toolchain.toml"
      - ".github/workflows/format.yml"
permissions:
  contents: read
jobs:
  rust_check_format:
    runs-on: ubuntu-slim
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: "rustfmt,rust-docs"
      - name: run check format
        run: cargo fmt --check
        env:
          RUST_BACKTRACE: 1
  rust_check_doc:
    runs-on: ubuntu-slim
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: "rustfmt,rust-docs"
      - name: run check doc
        run: cargo doc --no-deps -p libpna -p pna
        env:
          RUST_BACKTRACE: 1
          RUSTFLAGS: -Dwarnings
