name: format
on:
  pull_request:
  push:
permissions:
  contents: read
jobs:
  rust_check_format:
    runs-on: ubuntu-slim
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: "rustfmt,rust-docs"
      - name: run check format
        run: cargo fmt --check
        env:
          RUST_BACKTRACE: 1
  rust_check_doc:
    runs-on: ubuntu-slim
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: "rustfmt,rust-docs"
      - name: run check doc
        run: cargo doc --no-deps -p libpna -p pna
        env:
          RUST_BACKTRACE: 1
          RUSTFLAGS: -Dwarnings
