name: Fuzzing with cargo fuzz

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "lib/**"
      - "pna/**"
      - "cli/**"
      - "fuzz/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/config.toml"
      - "rust-toolchain.toml"
      - ".github/workflows/fuzz.yml"
  pull_request:
    branches:
      - main
    paths:
      - "lib/**"
      - "pna/**"
      - "cli/**"
      - "fuzz/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/config.toml"
      - "rust-toolchain.toml"
      - ".github/workflows/fuzz.yml"

jobs:
  fuzz_target:
    name: Detect fuzz target
    runs-on: ubuntu-slim
    timeout-minutes: 60
    outputs:
      fuzz_target: ${{ steps.fuzz_target.outputs.fuzz_target }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: fuzz_target
        name: Detect fuzz target
        run: |
          echo fuzz_target=$(ls fuzz/fuzz_targets | jq -Rsc 'split("\n")[0:-1] | map(select(test("\\.rs$"))) | map(sub("\\.rs$"; ""))') >> "$GITHUB_OUTPUT"

  fuzz:
    name: Run cargo fuzz
    runs-on: ubuntu-slim
    timeout-minutes: 60
    needs: fuzz_target
    strategy:
      fail-fast: false
      matrix:
        fuzz_target: ${{ fromJSON(needs.fuzz_target.outputs.fuzz_target) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: nightly
      - name: Install cargo-fuzz
        run: cargo install cargo-fuzz
      - name: Run fuzzing
        run: |
          cargo fuzz run --release ${{ matrix.fuzz_target }} -- -max_total_time=300
      - name: Upload crash artifacts
        if: always()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: fuzz-${{ matrix.fuzz_target }}-crashes
          path: fuzz/artifacts
          if-no-files-found: ignore
