name: Labeler
on: [pull_request]

jobs:
  label:
    runs-on: ubuntu-slim
    timeout-minutes: 60
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
      - uses: ./.github/actions/label_by_message
        with:
          pr_number: ${{ github.event.pull_request.number }}
          message_contains: ':boom:'
          label_name: 'break'
