name: Publish Rust crate

on:
  push:
    tags:
      - '*'

concurrency:
  group: "publish"
  cancel-in-progress: false

jobs:
  publish:
    name: Publish crate
    timeout-minutes: 60
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - uses: ./.github/actions/setup-rust
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install -y libacl1-dev
      - if: startsWith(github.ref, 'refs/tags/libpna')
        name: Publish libpna crate
        run: cargo publish -p libpna
        working-directory: .
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_IO_API_KEY }}"
      - if: startsWith(github.ref, 'refs/tags/pna')
        name: Publish pna crate
        run: cargo publish -p pna
        working-directory: .
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_IO_API_KEY }}"
      - if: startsWith(github.ref, 'refs/tags/portable-network-archive')
        name: Publish portable-network-archive crate
        run: cargo publish -p portable-network-archive
        working-directory: .
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_IO_API_KEY }}"
