name: semver-checks
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "lib/**"
      - "pna/**"
      - "cli/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/config.toml"
      - "rust-toolchain.toml"
      - ".github/actions/**"
      - ".github/workflows/semver-checks.yml"
  pull_request:
    branches: ["*"]
    paths:
      - "lib/**"
      - "pna/**"
      - "cli/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".cargo/config.toml"
      - "rust-toolchain.toml"
      - ".github/actions/**"
      - ".github/workflows/semver-checks.yml"

jobs:
  semver-checks:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup-rust
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install -y libacl1-dev
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@5b298c9520f7096a4683c0bd981a7ac5a7e249ae # v2.8
        with:
          package: pna,libpna
          feature-group: all-features
      - name: Add label if contains break
        if: failure() && github.event_name == 'pull_request'
        shell: bash
        run: |
          # Add break label when semver checks not pass (has breaking changes)
          gh pr edit ${{ github.event.pull_request.number }} --add-label 'break'
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Remove break label on success
        if: success() && github.event_name == 'pull_request'
        shell: bash
        run: |
          # Remove the label when semver checks pass (no breaking changes)
          gh pr edit ${{ github.event.pull_request.number }} --remove-label 'break' || true
        env:
          GH_TOKEN: ${{ github.token }}
