name: VM Tests
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

permissions:
  contents: read

env:
  RUST_BACKTRACE: 1

jobs:
  solaris-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on Solaris
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Test in Solaris
        id: test
        uses: vmactions/solaris-vm@6fcd81bcefc0d16635f2c1969274288464dc5039 # v1.2.8
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            pkg install bash libtool gnu-m4 tree wget gcc autoconf //solaris/text/gawk pkg://solaris/text/gnu-diffutils pkg://solaris/text/gnu-grep pkg://solaris/text/gnu-sed cmake
            source <(curl -s https://raw.githubusercontent.com/psumbera/solaris-rust/refs/heads/main/sh.rust-web-install)
            # mv /root/.rust_solaris/rustc-*/ /root/.rust_solaris/rustc/
          run: |
            set -e
            export LC_ALL=C LANG=C
            # export PATH=/root/.rust_solaris/rustc/bin:$PATH
            uname -a
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack@0.6.33 --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm

  NetBSD-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on NetBSD
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Test in NetBSD
        id: test
        uses: vmactions/NetBSD-vm@f8b6ca699b2980b83fdb6328e7f941b20bbac4a7 # v1.3.3
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            /usr/sbin/pkg_add -v curl cmake
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          run: |
            set -e
            . "$HOME/.cargo/env"
            export LC_ALL=C LANG=C
            uname -a
            export PATH=$PATH:/usr/sbin
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm

  FreeBSD-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on FreeBSD
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Test in FreeBSD
        id: test
        uses: vmactions/freebsd-vm@262fcf6e3e09d447753de95ad05d006c26e11f22 # v1.3.9
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            pkg install -y curl cmake
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          run: |
            set -e
            . "$HOME/.cargo/env"
            export LC_ALL=C LANG=C
            uname -a
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm,acl

  OpenBSD-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on OpenBSD
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Test in OpenBSD
        id: test
        uses: vmactions/OpenBSD-vm@271a1ba62300483cfc58345ff9f425f1349a2cab # v1.3.4
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            /usr/sbin/pkg_add -I -v gmake gettext-tools gtar libtool m4 cmake
            /usr/sbin/pkg_add -I -v rust
          run: |
            set -e
            export LC_ALL=C LANG=C
            uname -a
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack --locked
            ulimit -n 2048
            cargo hack test --locked --release --feature-powerset --exclude-features wasm

#  DragonflyBSD-test:
#    runs-on: ubuntu-latest
#    timeout-minutes: 60
#    name: Test on DragonflyBSD
#    steps:
#      - uses: actions/checkout@v4
#      - name: Test in DragonflyBSD
#        id: test
#        uses: vmactions/dragonflybsd-vm@v1.0.9
#        with:
#          envs: "RUST_BACKTRACE"
#          copyback: false
#          usesh: true
#          prepare: |
#            pkg install -y curl cmake libnghttp2
#            pkg install -y rust
#          run: |
#            set -e
#            export LC_ALL=C LANG=C
#            uname -a
#            chown -R $(whoami):$(id -gn) ./
#            chmod -R a+rw ./
#            cargo install -f cargo-hack --locked
#            cargo hack test --locked --release --feature-powerset --exclude-features wasm

  OmniOS-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on OmniOS
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Test in OmniOS
        id: test
        uses: vmactions/omnios-vm@422b3792392d4600a7ae60c5b2ba0f035603b1ec # v1.2.3
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            pkg install curl pkg:/developer/gcc13 cmake
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          run: |
            set -e
            . "$HOME/.cargo/env"
            export LC_ALL=C LANG=C
            uname -a
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm,zlib-ng
