name: VM Tests
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

permissions:
  contents: read

env:
  RUST_BACKTRACE: 1

jobs:
  solaris-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on Solaris
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test in Solaris
        id: test
        uses: vmactions/solaris-vm@47bea106d03acaf91084e52548ee460556011602 # v1.1.8
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            pkg install bash libtool gnu-m4 tree wget gcc autoconf //solaris/text/gawk pkg://solaris/text/gnu-diffutils pkg://solaris/text/gnu-grep pkg://solaris/text/gnu-sed cmake
            source <(curl -s https://raw.githubusercontent.com/psumbera/solaris-rust/refs/heads/main/sh.rust-web-install)
            # mv /root/.rust_solaris/rustc-*/ /root/.rust_solaris/rustc/
          run: |
            set -e
            export LC_ALL=C LANG=C
            # export PATH=/root/.rust_solaris/rustc/bin:$PATH
            uname -a
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack@0.6.33 --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm

  NetBSD-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on NetBSD
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test in NetBSD
        id: test
        uses: vmactions/NetBSD-vm@b24ed5f7a605362ab1226e73df291c8b01990c85 # v1.2.3
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            /usr/sbin/pkg_add -v curl cmake
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          run: |
            set -e
            . "$HOME/.cargo/env"
            export LC_ALL=C LANG=C
            uname -a
            export PATH=$PATH:/usr/sbin
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm

  FreeBSD-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on FreeBSD
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test in FreeBSD
        id: test
        uses: vmactions/freebsd-vm@670398e4236735b8b65805c3da44b7a511fb8b27 # v1.3.0
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            pkg install -y curl cmake
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          run: |
            set -e
            . "$HOME/.cargo/env"
            export LC_ALL=C LANG=C
            uname -a
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm,acl

  OpenBSD-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on OpenBSD
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test in OpenBSD
        id: test
        uses: vmactions/OpenBSD-vm@2e29de1eb150dfe1c9c97b84ff2b7896f14ca690 # v1.2.5
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            /usr/sbin/pkg_add -I -v gmake gettext-tools gtar libtool m4 cmake
            /usr/sbin/pkg_add -I -v rust
          run: |
            set -e
            export LC_ALL=C LANG=C
            uname -a
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm

#  DragonflyBSD-test:
#    runs-on: ubuntu-latest
#    timeout-minutes: 60
#    name: Test on DragonflyBSD
#    steps:
#      - uses: actions/checkout@v4
#      - name: Test in DragonflyBSD
#        id: test
#        uses: vmactions/dragonflybsd-vm@v1.0.9
#        with:
#          envs: "RUST_BACKTRACE"
#          copyback: false
#          usesh: true
#          prepare: |
#            pkg install -y curl cmake libnghttp2
#            pkg install -y rust
#          run: |
#            set -e
#            export LC_ALL=C LANG=C
#            uname -a
#            chown -R $(whoami):$(id -gn) ./
#            chmod -R a+rw ./
#            cargo install -f cargo-hack --locked
#            cargo hack test --locked --release --feature-powerset --exclude-features wasm

  OmniOS-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Test on OmniOS
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test in OmniOS
        id: test
        uses: vmactions/omnios-vm@4f4fcbf0847b079a6e0eafe6ff06b3d15510f0b0 # v1.1.5
        with:
          envs: "RUST_BACKTRACE"
          copyback: false
          usesh: true
          prepare: |
            pkg install curl pkg:/developer/gcc13 cmake
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          run: |
            set -e
            . "$HOME/.cargo/env"
            export LC_ALL=C LANG=C
            uname -a
            chown -R $(whoami):$(id -gn) ./
            chmod -R a+rw ./
            cargo install -f cargo-hack --locked
            cargo hack test --locked --release --feature-powerset --exclude-features wasm,zlib-ng
